body {
    background-color: #0d1b2a;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

nav a {
    margin: 10px;
    color: yellow;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
