<!DOCTYPE html>
<html>
<head>
    <title>About - BookFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/otomasi">Otomasi</a>
    <a href="/about">About</a>
</nav>

<div class="container">
    <h1>Tentang BookFinder</h1>

    <p>BookFinder adalah aplikasi web untuk pencarian buku, crawling Wikipedia, NLP, dashboard visual, dan otomasi data cuaca.</p>

    <h3>Pengembang</h3>
    <p><b>Muhammad Damar Zaky Al-Ayyubi</b><br>NIM: 23051130033</p>
</div>
</body>
</html>
