<!DOCTYPE html>
<html>
<head>
    <title>BookFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/otomasi">Otomasi</a>
    <a href="/about">About</a>
</nav>

<div class="container">
    <h1>Temukan Buku Favoritmu 📚</h1>
    <p>Cari buku, crawling Wikipedia, NLP, dan dashboard visual premium.</p>

    <input type="text" placeholder="Cari buku..." style="width:300px;">
    <br><br>
    <button>Cari</button>

    <h2>Hasil Pencarian Buku 📚📊</h2>
</div>

</body>
</html>
